<nav class="blue darken-4">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Laba</a>

        <ul id="nav-mobile" class="right hide-on-med-and-down">

            <li><a href="/">Home</a></li>
            <li><a href="/api/ChigazhovaOlga/lab1/ex7">7</a></li>
            <li><a href="/api/ChigazhovaOlga/lab1/ex17">17</a></li>
            <li><a href="/api/ChigazhovaOlga/lab1/ex20">20</a></li>

        </ul>
    </div>
</nav>