

    {{#if number7}}

        <form action= /api/ChigazhovaOlga/lab1/ex7/solution  target="_blank">
            <input type = "text" name="arrF"  size="40"  placeholder="Введите первый массив:">
            <input type = "text" name="arrS"  size="40"  placeholder="Введите второй массив:">

            <input type="submit" value="Получить новый массив">
        </form>

    {{/if}}

    {{#if number17}}
        <form action= /api/ChigazhovaOlga/lab1/ex17/solution  target="_blank1">
            <input type = "text" name="auth"  size="40"  placeholder="Введите имя:">
            <input type = "text" name="obj"  size="40"  placeholder="Введите данные:">
            <input type="submit" value="Проверить на объект">
        </form>

    {{/if}}

    {{#if number20}}

        <form action= /api/ChigazhovaOlga/lab1/ex20/solution  target="_blank2">
            <input type = "text" name="auth"  size="40"  placeholder="Введите имя:">
            Жмакните, чтобы увидеть код функции:
            <input type="submit" value="Открытие страницы с кодом">
        </form>
    {{/if}}

